p, b {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #C0C0C0;
}

footer {
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px;
}

.big {
    background-color: #363636;
    border-radius: 16px;
    width: 65%;
    padding: 80px;
    margin: 0 auto;
}

.textbox {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 60%;
    color: #fff;
    text-align: center;
    border-radius: 16px;
}

.title {
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0px auto; 
    border-radius: 16px;
    width: 60%
}

.log-container {
    width: 60%;
    height: 500px;
    border-radius: 16px;
    margin: 20px auto;
    padding: 10px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    overflow:auto
}